@import "~bootstrap/dist/css/bootstrap.css";
* {

    box-sizing: border-box;
   
    margin: auto ;
    
    padding: 0;
    
    }
    
    body {
    
    font-family: Arial, Helvetica, sans-serif;
    
    line-height: 1.4;
    
    }